<h3> Versión previa</h3>
<div class="row">
    <div class="col-6">
        <div class="card">
            <!-- <div class="card" *ngFor="let grafico of graficos; let i = index;"> -->
            <div class="card-body">
                <app-grafico-dona [leyenda]="graficos.grafico1.leyenda" [donaEtiquetas]="graficos.grafico1.labels" [donaDatos]="graficos.grafico1.data"></app-grafico-dona>
                <!-- <app-grafico-dona [leyenda]="grafico.leyenda" [donaEtiquetas]="grafico.labels" [donaDatos]="grafico.data"></app-grafico-dona> -->
                <!-- <app-grafico-dona leyenda="Gente" [donaEtiquetas]="doughnutChartLabels" [donaDatos]="doughnutChartData"></app-grafico-dona> -->
                <!--                 
                <div style="display: block">
                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                    </canvas>
                </div>
 -->
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [leyenda]="graficos.grafico2.leyenda" [donaEtiquetas]="graficos.grafico2.labels" [donaDatos]="graficos.grafico2.data"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [leyenda]="graficos.grafico3.leyenda" [donaEtiquetas]="graficos.grafico3.labels" [donaDatos]="graficos.grafico3.data"></app-grafico-dona>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [leyenda]="graficos.grafico4.leyenda" [donaEtiquetas]="graficos.grafico4.labels" [donaDatos]="graficos.grafico4.data"></app-grafico-dona>
            </div>
        </div>
    </div>
    <!-- 
    <div class="col-6">
        <div class="card" *ngFor="let grafico of graficos; let i = index;">
-->
    <!-- <div class="card" *ngFor="let grafico of graficos; let i = index;"> -->
    <!-- 
            <div class="card-body">
                <app-grafico-dona [leyenda]="grafico[i].leyenda" [donaEtiquetas]="grafico[i].labels" [donaDatos]="grafico[i].data"></app-grafico-dona>
-->
    <!-- <app-grafico-dona [leyenda]="grafico.leyenda" [donaEtiquetas]="grafico.labels" [donaDatos]="grafico.data"></app-grafico-dona> -->
    <!-- <app-grafico-dona leyenda="Gente" [donaEtiquetas]="doughnutChartLabels" [donaDatos]="doughnutChartData"></app-grafico-dona> -->
    <!--                 
                <div style="display: block">
                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                    </canvas>
                </div>
                -->
    <!-- 
            </div>
        </div>
    </div>
-->

    <!-- 
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div style="display: block">
                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
     -->
</div>